﻿body {
    padding-top: 50px;
}

.letter {
    display: table-cell;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    background: url("tile.jpg");
    border-radius: 5px;
    font-size: 40px;
}

.tile {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.score {
    display: table-cell;
    width: inherit;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}