﻿<div ng-controller="scrabbleController">
    <h1>Enter your scrabble letters:</h1>
    <form ng-submit="submit()" class="form-inline">
        <input type="text" ng-model="letters" class="form-control"/>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <div ng-repeat="alert in alerts">
        <alert type="{{alert.type}}" close="closeAlert($index)"><span ng-bind="alert.msg"></span></alert>
    </div>
    <div ng-show="words.length > 0">
        <div ng-repeat="scrabbleWord in words | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
            <div class="word-row">
                    <div ng-repeat="letter in getLetters(scrabbleWord.Word) track by $index" class="scrabble tile">
                        <p class="letter">{{letter}}</p>
                    </div>
                <div class="tile">
                    <p class="score">{{ scrabbleWord.Score }}</p>
                </div>
            </div>
        </div>
        <pagination total-items="words.length" ng-model="currentPage" items-per-page="pageSize" max-size="pagerSize" class="pagination-sm" boundary-links="true"></pagination>
    </div>
</div>
